include ./layouts/main.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienvenido 
        style.
            body{

                background-image: url("https://www.infobae.com/new-resizer/SLKfej7KEbCFR7-vHTLCQW8TPeI=/750x0/filters:quality(100)/s3.amazonaws.com/arc-wordpress-client-uploads/infobae-wp/wp-content/uploads/2018/08/01122831/tendencias-recetas-destacada.jpg");
                opacity:80
            }
            .opacity{
            
            opacity:0.95; /* Opacidad 60% */
            
            }
    body
        div(class="jumbotron text-center opacity" )
            h1(class="display-4") <i class="fas fa-house-user"></i> Bienvenido! #{user.nombre}
            p(class="lead") Qué deseas ordenar el día de hoy?
            hr(class="my-4")
            img(src="https://elviajerofeliz.com/wp-content/uploads/2020/01/Comida-t%C3%ADpica-de-Bangladesh-Platos-Imprescindibles.jpg" width="600" height="300")
            p(class="lead")
                form(method="post")
                    button(type='submit' class="btn btn-primary btn-lg" value='Ver Menu' name='menu') Ver menú 
                    br
                    br
                    button(type='submit' class="btn btn-primary btn-lg" value='Ver Armar' name='armar') Armar combo
                    //- input( class="btn-primary btn-lg" style='height:50px; width:160px' type='submit' value="Armar Combo" name='armar')