<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienvenido 
    body
        a(href='/Inicio') Ir atrás
        br
        a BIENVENIDO #{cliente.nombre}
        BR
        img(src="https://www.clara.es/medio/2018/12/18/recetas-comidas-saludables_5102de8e_600x900.jpg" width="200" height="341")
        form(method="post")
            input(type='submit' value='Menu' name='menu')
            input(type='submit' value="Armar" name='armar')


            
