include ./layouts/main.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Enviado
    body
        
        br
        H1(align="center") <i class="far fa-handshake"></i> Pedido Enviado
        br
        H1(align="center") Su pedido esta siendo preparado
        H1(align="center") <i class="far fa-clock"></i>

        BR