include ./layouts/main.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Enviado
    body
        style.
            body{

                 background-image: url("https://www.eluniverso.com/sites/default/files/styles/powgallery_1024/public/fotos/2018/09/comida_sana.jpg?itok=iiZ-olup");
                 opacity:100
            } 

            .opacity{
            
            opacity:0.95; /* Opacidad 60% */
            
            }
        
        div(class="jumbotron text-center opacity" )
            h1(class="display-4") Holaaa! 
            <H1 class="display-5" align="center">Delivery Deli Healthy  </H1>
            <H1 class="display-5" align="center">Cuida tu Salud</H1>
            p(class="lead")
                
    