<!DOCTYPE html>
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')

        title INICIO

    body
        h1 HOLAAA!!
        h2 Ingrese sus datos por favor 
            
        form( method="post")
            label(for="nombre") Ingrese su Nombre: 
            input(name="nombre", type="text")
            br
            label(for="direccion") Ingrese su Direccion: 
            input(name="direccion", type="text")
            br
            button(type="submit") Acceder