include ./layouts/main.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Deli Healthy
    body
       H1(align="center") Menu
        br
        table(align='CENTER',border='5')
            tr
                td
                    input(type="image" src="https://tecnohotelnews.com/wp-content/uploads/2018/04/siete-claves-para-ofrecer-platos-saludables-atractivos-a-los-comensales.jpg" width="300" height="200")
                td  
                    input(type="image" src="https://tecnohotelnews.com/wp-content/uploads/2018/04/siete-claves-para-ofrecer-platos-saludables-atractivos-a-los-comensales.jpg" width="300" height="200")
                td 
                    input(type="image" src="https://tecnohotelnews.com/wp-content/uploads/2018/04/siete-claves-para-ofrecer-platos-saludables-atractivos-a-los-comensales.jpg" width="300" height="200")
        
            tr
                td
                    input(type="image" src="https://files.larepublica.pe/Larepublica/2019/03/13/ensaladas-1552445525.png" width="300" height="200")
                td
                    input(type="image" src="https://files.larepublica.pe/Larepublica/2019/03/13/ensaladas-1552445525.png" width="300" height="200")
                td
                    input(type="image" src="https://files.larepublica.pe/Larepublica/2019/03/13/ensaladas-1552445525.png" width="300" height="200")
        
    
        br
        //- a(href='/Bienvenido') Cambiar Direccion